* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(5, 15, 23);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 20px;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: linear-gradient(80deg, rgb(23, 43, 90), rgb(8, 54, 104), rgb(17, 49, 78), rgb(32, 88, 138));
    background-size: 400% 400%;
    animation: animaFundo 15s ease infinite;
    overflow-y: auto;
}

@keyframes animaFundo {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.campoSite {
    width: 50%;
    min-height: 92vh;
    gap: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.254);
    border-radius: 10px;
    color: white;
}

.campoSite .CampoControle {
    width: 100%;
    height: auto;
    display: flex;
    gap: 20px;
}

#tempoMusica {
    color: white;
}

.controleAudio {
    width: 60%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    background-color: #1e1e24;
    border-radius: 10px;
    gap: 7px;
}

.controls {
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}

.controls button {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    background: transparent;
    border: none;
    transition: 0.4s;
    cursor: pointer;
}

.controls button:hover img {
    transform: scale(1.1);
}

.input {
    width: 100%;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.input input {
    width: 90%;
}
input[type="range"]::-webkit-slider-runnable-track {
  border-radius: 4px; 
  border: none;
}
.controleAudio .informacoes {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.controleAudio .informacoes span {
    font-size: 12px;
    color: aliceblue;
}

.campoSite .capaMusica {
    width: 30%;
    height: 100%;
}

.campoSite .capaMusica img {
    width: 100%;
    border-radius: 7px;
    object-fit: cover;
    height: 100%;
}

.campoSite .titulo {
    width: 100%;
    display: flex;
    text-align: left;
}

.campoSite .titulo h2,
.campoSite .CampoControle h3 {
    color: white;
}


.campoSite .MusicasContainer {
    width: 100%;
    overflow-y: auto;
    gap: 5px;
    display: flex;
    flex-direction: column;
    height: 500px;
}

.campoSite .MusicasContainer .musicaCard {
    min-height: 70px;
    flex-shrink: 0;
    gap: 20px;
    display: flex;
    width: 98%;
    padding: 5px;
    transition: 0.3s;
    border-radius: 7px;
}

.musicaCard:hover {
    background-color: rgba(55, 132, 233, 0.377);
}

.musicaCard .Capa {
    width: 7%;
    height: 100%;
}

.musicaCard .Capa img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.musicaCard .informacao {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.musicaCard .informacao h4,
.musicaCard .informacao span {
    color: white;
}

.musicaCard .informacao span {
    margin-left: 7px;
    font-size: 15px;
    color: aliceblue;
}


::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    background: #ffffffbb;
    border-radius: 8px;
}


@media (max-width: 880px) {
    body {
        flex-direction: column;
        align-items: center;
    }

    .campoSite,
    form {
        width: 100%;
    }

    .CampoControle {
        width: 100%;
    }
}